body {
      background: #CCCCCC
}

hl {
      text-align: center;
}

p{
      text-align: center;

<img scr="https://ogimg.infoglobo.com.br/in/24733073-43a-433/FT1086A/Dicas-infaliveis-para-escolher-colchao.png">
      